
.services {
    padding: 80px 20px;
    background-color:var(--bg-light);
    color: var(--pear-green);
    font-family: var(--font-family);
  }
  
  .services-container {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .services-header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .services-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--pear-green);
  }
  
  .services-header p {
    font-size: 1.1rem;
    color: black;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
  }
