.vines{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.vine {
    width: 300px;          
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;

  }
  
  .left-vine {
    background-image: url("../../assets/vine_1_left.png");
  }
  
  .right-vine {
    background-image: url("../../assets/vine_1_left.png");
  }
  @media (max-width: 600px) {
    .vines{
        display:none;
    }
  }