.main-class{
    display:flex;
    flex-direction: column;
    padding: 2em;
    position:relative;
    min-height: 100vh;  
    position: relative;    
    background-color: red;
}
.main{
    display:flex;
    flex-direction: column;
    padding:2em;
    justify-content: center;
    
}
  