

.main-class {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0.8rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap:2rem;

}

.section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  perspective: 1000px; 
}

.section-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  display: none; 
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-heading {
  font-size: var(--title-font-size);
  font-family: var(--heading-font-family);
  color: var(--pear-green);
  margin-bottom: 0.8rem;
}

.section-paragraph {
  font-size: var(--text-font-size-mobile);
  color: var(--text-dark);
  line-height: 1.7;
  opacity: 0.9;
  font-family: var(--font-family);
}


@media (min-width: 768px) {
  .section {
      grid-template-columns: 1fr 1fr;
  }
  .section-paragraph {
    font-size: var(--text-font-size-desktop);
   margin-bottom: 3rem;


  }

  .section-image {
    width:400px;
    height:267px;
  display:block; 
  }
  
}
