
.review-card {
  width: 100%; 
  max-width: 400px; 
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 16px; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  font-family: 'Inter', sans-serif;
}

.review-head{
  font-size: small;
  margin:0.5rem;
}

.image-container {
  width: 80px;
  height: 80px;
  margin: 0 auto 1rem auto; 
  border-radius: 50%; 
  overflow: hidden; 
  border: 3px solid #f0f0f0;
 
}

.profile-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.heading {
  font-size: 1rem;
  color: #1a202c;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.review-text {
  font-style: italic;
  font-size: 0.9rem;
  color: #4a5568;
  line-height: 1.5;
  margin: 0;
  width: 100%;
  margin: 0 auto;
}
.review-text::before{
  content: "`";
}
.review-text::after{
  content:"`"
}

.embla {
  overflow: hidden;
  width: 100%;
}


.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 1rem; 
}


@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 45%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 30%;
  }
}
