
.section{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    gap:2em;   
  overflow: hidden;
  
}
.section-image{
display:none;
    width: clamp(400px, 20vw, 100px); 
}
.section-content{
    display:flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: left;

}
.section-paragraph{
    font-size: var(--text-font-size);
    color: var(--text-dark);
    line-height: var(--line-height);
    margin-bottom: 20px;
    letter-spacing:var(--line-height);
    word-spacing:var(--line-height);
    font-family: var(--font-family);
}
.section-heading{
    margin: 0 0 10px;
    font-size: var(--title-font-size) ;
    font-family:var(--heading-font-family);
}
@media screen and (width >= 600px) {
.section{
    flex-direction: row;
}
.section-image{
    display:flex;
    justify-content: center;
    align-items:center;
}
  }