.wrapper {
display:flex;
flex-direction: column;
justify-content: space-around;
padding:2em;
}
@media screen and (min-width: 600px) {
.wrapper{
    flex-direction: row;
    padding:1em;
    justify-content: space-between;
}
  }