:root {
    --pear-green:#ADBD6A;
    --text-dark: #1a1a1a;
    --text-medium: #4b5563;
    --text-light:#ffffff;
    --bg-light: #ffffff;
    --bg-dark:#1a1a1a;
    --card-bg: #f9fafb;
    --font-family:'Inter', sans-serif;
    --heading-font-family:'Space Grotesk', sans-serif;
    --bg-light-smoke:#f3f4f6;
    --title-font-size:clamp(2rem, 2vw + 0.5rem, 5rem);
    --title-font-weight:700;
    --text-font-size:clamp(1rem, 2vw + 0.5rem, 1.1rem);
    --line-height:1.75;
    --hover-color:lime;
    --btn-text:#f9fafb;
  }
