:root {
    --pear-green:#8FAF3E;
    --text-dark: #1a1a1a;
    --text-medium: #4b5563;
    --text-light:#ffffff;
    --bg-light: #ffffff;
    --bg-dark:#1a1a1a;
    --card-bg: #f9fafb;
    --font-family:'Inter', sans-serif;
    --heading-font-family:'Space Grotesk', sans-serif;
    --bg-light-smoke:#f3f4f6;
    --title-font-size:clamp(2rem, 1.5vw, 2.5rem);;
    --title-font-weight:700;
    --text-font-size:clamp(1rem, 1.2vw, 1.1rem);
    --line-height:1.75;
    --hover-color:#7E9E34;
    --btn-text:#f9fafb;
    --hero-bg:linear-gradient(135deg, #1e2901 0%, #4d5d1c 50%, #808c4e 100%);
  }
  [data-theme='gear'] {
   --pear-green:#d4af37;
   --hover-color:#b8962e;
   --hero-bg: linear-gradient(
    135deg,
    #1a1f05 0%,
    #b8962e 50%,
    #d4af37 100%
  );
  }

*,
*::before,
*::after,
button,
img,
a {
  margin:0;
  padding:0;
  box-sizing: border-box;


}
canvas{
  user-select: none;
}
.transition {
  transition: 
    background-color 0.3s ease,
    color 0.3s ease;
}