*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0;           
    padding: 0;         
  }

.body{
    background-color: var(--bg-light);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  max-width: 100%; 
  overflow-x: hidden;
  padding:1em;
 
    
  }
