.banner-container{
    width: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
    justify-content: flex-start;
    padding-top: 1em;
    gap:1em;
  }
  
  .background {
    position: absolute; 
    right: 0;
    top: 30%;
    z-index: 1; 
    width: 40%; 
    height: 50%; 
    object-position: right top; 
    object-fit: cover;
    display:none;
  
  }
  
  .banner-content{
    display: flex;
    flex-direction: column;
    gap:1em;
    z-index: 2;
  }
  
  .banner-heading{
    display:flex;
    flex-direction: column;
    text-align: center;
    color:var(--pear-green);
    font-family: var(--heading-font-family);
    font-size: 1.4rem;
  }
  
  .banner-image{
    width: clamp(300px, 50vw, 400px);
    height: auto;
    z-index: 2;
  }

  .btn{
    color:var(--btn-text);
    background-color:var(--pear-green); 
   padding:0.5rem 0.8rem;
    text-decoration: none;          
    position: relative;
    text-align: center;
    transition: color 0.2s ease;
    border-radius: 10px;
    transition: 
    background-color 0.3s ease,
    color 0.3s ease;
  }
  
  .btn:hover {
    background-color: var(--hover-color);   
    cursor: pointer;      
  }
 
  
  @media (min-width: 768px) {
    .banner-heading {
      font-size: var(--title-font-size);
    }
  
    .banner-image {
      width: clamp(500px, 40vw, 450px);
    }
  
    .background {
      width: 35%;
      height: 60%;
      display:block;
    }
  }
  
  @media (min-width: 900px) {
    .banner-heading {
      font-size: var(--title-font-size);
    }
  
    .banner-image {
      width: 500px;
    }
  
    .background {
      width: 30%;
    }
  }