.main-content {
    max-width: 800px;
    margin:5rem auto;
    font-family: var(--font-family);
    background-color:  var(--bg-light-smoke); 
    padding:0.5em;
    border-radius:10px;
  }
  
  .section-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--pear-green);
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
  }
  

  