.main-content {
    max-width: 800px;
    margin:5rem auto;
    font-family: var(--font-family);
    background-color:  var(--bg-light-smoke); 
    padding:0.5em;
    border-radius:10px;
  }
  
  .section-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--pear-green);
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .section-subtitle {
    color: var(--text-medium);
    margin-bottom: 2rem;
    line-height: 1.5;
  }

 
  
  .demo-section {
      margin-top: 3rem;
  }
  
  .demo-card {
    display: flex;
    flex-direction: column;
    background: var(--bg-light);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .demo-text-content {
    padding: 24px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--text-dark);
  }
  
  .card-description {
    color: var(--text-medium);
    margin-bottom: 1.5rem;
  }
  
  .try-demo-button {
    background-color: var(--pear-green);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
  }
  
  .try-demo-button:hover {
    background-color: #6d7a42;
  }
  
  .demo-illustration {
    min-height: 150px;
    background-color: #e0f2fe; 
  }
  

  .follow-section-title .section-title {
      text-align: center;
  }
  